<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @subject.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @subject.nombre %>
</p>

<%= link_to 'Edit', edit_admin_subject_path(@subject) %> |
<%= link_to 'Back', admin_subjects_path %>
