<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_survey.user %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user_survey.user_type %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user_survey.level %>
</p>

<p>
  <strong>Group:</strong>
  <%= @user_survey.group %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @user_survey.interval %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @user_survey.subject %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @user_survey.activa %>
</p>

<%= link_to 'Edit', edit_user_survey_path(@user_survey) %> |
<%= link_to 'Back', user_surveys_path %>
