<%= form_for(question_type) do |f| %>
  <% if question_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_type.errors.count, "error") %> prohibited this question_type from being saved:</h2>

      <ul>
      <% question_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %>
    <%= f.text_area :codigo %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
