<div class="small-12 column">
  <div class="full-with">
    <div class="small-8 column">
      <h1>Comentarios de las evaluaciones</h1>
    </div>
    <div class="small-4 column">
      <%= link_to 'Exportar', admin_survey_comments_path(format: 'xlsx', params: params), id: 'grafico', class: 'button'%>
    </div>
    <div class="row scopes">
      <div class="small-12 column">
        <%= scope :all, "Todos" %>
        <%= render partial: "admin/survey_comments/search_form", layout: "layouts/search_form" %>
      </div>
    </div>
  </div>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo de Usuario</th>
        <th>Grupo</th>
        <th>Nivel</th>
        <th>Intervalo</th>
        <th>Asignatura</th>
        <th>Descripcion</th>
      </tr>
    </thead>

    <tbody>
      <% @survey_comments.each do |survey_comment| %>
        <tr>
          <td><%= survey_comment.user_survey.user_type.display_name %></td>
          <td><%= survey_comment.user_survey.group.display_name %></td>
          <td><%= survey_comment.user_survey.level.display_name %></td>
          <td><%= survey_comment.user_survey.interval.display_name %></td>
          <td><%= survey_comment.user_survey.subject.display_name %></td>
          <td><%= survey_comment.descripcion %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
