<p id="notice"><%= notice %></p>

<p>
  <strong>User survey:</strong>
  <%= @survey_comment.user_survey %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @survey_comment.descripcion %>
</p>

<%= link_to 'Edit', edit_survey_comment_path(@survey_comment) %> |
<%= link_to 'Back', survey_comments_path %>
