<p id="notice"><%= notice %></p>

<h1>Subject Comments</h1>

<table>
  <thead>
    <tr>
      <th>User survey</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_comments.each do |subject_comment| %>
      <tr>
        <td><%= subject_comment.user_survey %></td>
        <td><%= subject_comment.descripcion %></td>
        <td><%= link_to 'Show', subject_comment %></td>
        <td><%= link_to 'Edit', edit_subject_comment_path(subject_comment) %></td>
        <td><%= link_to 'Destroy', subject_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject Comment', new_subject_comment_path %>
