<%= form_for(subject_result) do |f| %>
  <% if subject_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject_result.errors.count, "error") %> prohibited this subject_result from being saved:</h2>

      <ul>
      <% subject_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_survey_id %>
    <%= f.text_field :user_survey_id %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.text_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :answer_id %>
    <%= f.text_field :answer_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
