<p id="notice"><%= notice %></p>

<h1>Resultado de las evaluaciones</h1>

<table>
  <thead>
    <tr>
      <th>User survey</th>
      <th>Pregunta</th>
      <th>Respuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_results.each do |subject_result| %>
      <tr>
        <td><%= subject_result.user_survey %></td>
        <td><%= subject_result.question %></td>
        <td><%= subject_result.answer %></td>
        <td><%= link_to 'Show', subject_result %></td>
        <td><%= link_to 'Edit', edit_subject_result_path(subject_result) %></td>
        <td><%= link_to 'Destroy', subject_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject Result', new_subject_result_path %>
