<div class="small-12 column">
  <h1>Respuestas</h1>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo de Usuario</th>
        <th>Descripcion</th>
        <th>Tipo de Respuesta</th>
        <th class="action_column"></th>
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= answer.user_type.display_name %></td>
          <td><%= answer.descripcion %></td>
          <td><%= answer.answer_type.try(:display_name) %></td>
          <td class="action_column">
            <div class="action_links">
              <%= link_to '', admin_answer_path(answer), class: "fa fa-search view_link" %>
              <%= link_to '', edit_admin_answer_path(answer), class: "fa fa-pencil edit_link" %>
              <%= link_to '', admin_answer_path(answer), class: "fa fa-trash delete_link", confirm: "¿Está seguro de que quiere eliminar esto?", method: :delete %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nueva Respuesta', new_admin_answer_path, class: 'button' %>
</div>
