<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @answer.user_type %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @answer.descripcion %>
</p>

<p>
  <strong>Answer type:</strong>
  <%= @answer.answer_type %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
