<div class="small-12 column">

  <p>
    <strong>Tipo de Usuario:</strong>
    <%= @answer.user_type.try(:display_name) %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @answer.descripcion %>
  </p>

  <p>
    <strong>Tipo de Respuesta:</strong>
    <%= @answer.answer_type.try(:display_name) %>
  </p>

  <%= link_to 'Editar', edit_admin_answer_path(@answer), class: 'button' %>
  <%= link_to 'Atras', admin_answers_path, class: 'button' %>
</div>
