<%= form_for([:admin, question]) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Tipo de Usuario' %>
    <%= f.select :user_type_id, UserType.all.collect { |q| [ q.display_name, q.id ] } %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label 'Tipo de Pregunta' %>
    <%= f.select :question_type_id, QuestionType.all.collect { |q| [ q.display_name, q.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', class: 'button' %>
  </div>
<% end %>
