<div class="small-12 column">
  <div class="full-with">
    <div class="small-8 column">
      <h1>Preguntas</h1>
    </div>
    <div class="row scopes">
      <div class="small-12 column">
        <%= scope :all, "Todos" %>
        <%#= render partial: "admin/survey_comments/search_form", layout: "layouts/search_form" %>
      </div>
    </div>
  </div>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo de Evaluador</th>
        <th>Descripcion</th>
        <th>Tipo de Pregunta</th>
        <th class="action_column"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.user_type.display_name %></td>
          <td><%= question.descripcion %></td>
          <td><%= question.question_type.try(:display_name) %></td>
          <td class="action_column">
            <div class="action_links">
              <%= link_to '', admin_question_path(question), class: "fa fa-search view_link" %>
              <%= link_to '', edit_admin_question_path(question), class: "fa fa-pencil edit_link" %>
              <%= link_to '', admin_question_path(question), class: "fa fa-trash delete_link", confirm: "¿Está seguro de que quiere eliminar esto?", method: :delete %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'Crear Pregunta', new_admin_question_path, class: 'button' %>
