<div class="small-12 column">

<p>
  <strong>User type:</strong>
  <%= @question.user_type.display_name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @question.descripcion %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type..try(:display_name) %>
</p>

<%= link_to 'Editar', edit_admin_question_path(@question), class: 'button' %>
<%= link_to 'Atras', admin_questions_path, class: 'button' %>
