<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @question.user_type %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @question.descripcion %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
