<%= stylesheet_link_tag    'admin/login'%>
<%= javascript_include_tag 'admin/login'%>
<div class="login-page">
  <div class="logo">
    <%= image_tag "logo" %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form">
      <form class="login-form">
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: 'username' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label 'Recuerdame?' %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Entrar", class: 'button'%>
        </div>
      </form>
    </div>
  <% end %>
</div>
