<div class="row panel">
  <h1>Escala de autoevaluación docente para todos los niveles educativos</h1>
  <p>
    Dentro del sistema de evaluación de la función docente, la EAD (escala de auto evaluación docente) tiene como finalidad principal la de ayudarle a crear un espacio de autorreflexión que le permita retroalimentar su práctica docente, identificar su nivel de desempeño y fijarse metas personales en la mejora de su labor educativa. El objetivo es promover el desarrollo de los profesores hacia la mejora de la función docente.
  </p>
  <br>
  <p>
    Para el diseño del presente instrumento se han determinado 5 dimensiones en las cuales Ud. se autoevaluará:
  </p>
  <ol>
    <li>planeación</li>
    <li>proceso enseñanza aprendizaje</li>
    <li>relación maestro alumno; </li>
    <li>prácticas de evaluación</li>
    <li>cumplimiento administrativo.</li>
  </ol>
  <p>
    Cada una de ellas define un criterio de desempeño y lo ubica en alguno de los cuatro niveles establecidos. Se considera que para que Ud. pueda quedar en un determinado nivel debe cumplir cabalmente lo marcado en la descripción específica además de superar los indicadores establecidos en los niveles inferiores. No se puede otorgar un nivel superior si no queda perfectamente claro el cumplimiento o superación de los indicadores de los niveles anteriores.
  </p>

  <h3>INSTRUCCIONES:</h3>
  <p>
    Por favor reflexione acerca de su desempeño docente, considerando lo que es más usual que suceda en la mayoría de los grupos a los que les imparte clase y seleccione el nivel que mejor refleje su actuar.
  </p>
  <br>
  <ul class="accordion" data-accordion role="tablist">
    <%= form_for(SurveyResult.new, url: docente_survey_results_path) do |f| %>
      <% @user_surveys.each do |user_survey| %>
        <li class="accordion-navigation">
          <a href="#panel<%= user_survey.id%>d" role="tab" id="panel<%= user_survey.id%>d-heading" aria-controls="panel<%= user_survey.id%>d">
            <%= user_survey.try(:level).try(:display_name) %> - <%= user_survey.try(:interval).try(:display_name) %> - <%= user_survey.subject.try(:display_name) %>
          </a>
          <div id="panel<%= user_survey.id%>d" class="content active" role="tabpanel" aria-labelledby="panel<%= user_survey.id%>d-heading">
            <%= render partial: 'docente_detalles', locals: {user_survey: user_survey} %>
          </div>
        </li>
      <% end %>
      <div class="actions">
        <%= f.submit 'Guardar', class: 'button' %>
      </div>
    <% end %>
  </ul>
  <strong>Por tu colaboración, Gracias.</strong>
</div>
