<p id="notice"><%= notice %></p>

<h1>Evaluaciones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.nombre %></td>
        <td><%= survey.inicio %></td>
        <td><%= survey.fin %></td>
        <td><%= link_to 'Show', admin_survey_path(survey) %></td>
        <td><%= link_to 'Edit', edit_admin_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', admin_survey_path(survey), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Encuesta', new_admin_survey_path %>
