<p id="notice"><%= notice %></p>

<h1>Answer Types</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Scala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_types.each do |answer_type| %>
      <tr>
        <td><%= answer_type.descripcion %></td>
        <td><%= answer_type.scala %></td>
        <td><%= link_to 'Show', answer_type %></td>
        <td><%= link_to 'Edit', edit_answer_type_path(answer_type) %></td>
        <td><%= link_to 'Destroy', answer_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer Type', new_answer_type_path %>
