<div class="small-12 column">
  <h1>Groupos</h1>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="action_column"></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.nombre %></td>
          <td class="action_column">
            <div class="action_links">
              <%= link_to "", admin_group_path(group), class: "fa fa-search view_link" %>
              <%= link_to "", edit_admin_group_path(group), class: "fa fa-pencil edit_link" %>
              <%= link_to "", admin_group_path(group), class: "fa fa-trash delete_link", confirm: "¿Está seguro de que quiere eliminar esto?", method: :delete %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Crear Grupo', new_admin_group_path, class: 'button' %>
</div>
