<%= form_for([:admin, interval]) do |f| %>
  <% if interval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interval.errors.count, "error") %> prohibited this interval from being saved:</h2>

      <ul>
      <% interval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', class: 'button' %>
  </div>
<% end %>
