<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @interval.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @interval.descripcion %>
</p>

<%= link_to 'Edit', edit_interval_path(@interval) %> |
<%= link_to 'Back', intervals_path %>
