<%= form_for([:admin, survey_result]) do |f| %>
  <% if survey_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey_result.errors.count, "error") %> prohibited this survey_result from being saved:</h2>

      <ul>
      <% survey_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_survey_id %>
    <%= f.select :user_survey_id, UserSurvey.all.map{|u| [u.display_name, u.id]} %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.select :question_id, Question.all.map{|q| [q.display_name, q.id]} %>
  </div>

  <div class="field">
    <%= f.label :answer_id %>
    <%= f.select :answer_id, Answer.all.map{|a| [a.display_name, a.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
