<div class="small-12 column">
  <div class="full-with">
    <div class="small-8 column">
      <h1>Resultado de las evaluaciones</h1>
    </div>
    <div class="small-4 column">
      <%= link_to 'Graficos', '', id: 'grafico', class: 'button'%>
      <%= link_to 'Exportar', '', id: 'grafico', class: 'button'%>
    </div>
  </div>
  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo de Usuario</th>
        <th>Grupo</th>
        <th>Nivel</th>
        <th>Intervalo</th>
        <th>Asignatura</th>
        <th>Pregunta</th>
        <th>Respuesta</th>
      </tr>
    </thead>

    <tbody>
      <% @survey_results.each do |survey_result| %>
        <tr>
          <td><%= survey_result.user_survey.user_type.display_name %></td>
          <td><%= survey_result.user_survey.group.display_name %></td>
          <td><%= survey_result.user_survey.level.display_name %></td>
          <td><%= survey_result.user_survey.interval.display_name %></td>
          <td><%= survey_result.user_survey.subject.display_name %></td>
          <td><%= survey_result.question.display_name %></td>
          <td><%= survey_result.answer.display_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
