<div class="small-12 column">
  <div class="full-with">
    <div class="small-8 column">
      <h1>Resultado de las evaluaciones</h1>
    </div>
    <div class="small-4 column">
      <%= link_to 'Graficos', '', id: 'grafico', class: 'button'%>
      <%= link_to 'Exportar', admin_survey_results_path(format: 'xlsx', params: {q: params[:q].try(:to_unsafe_h)}), id: 'grafico', class: 'button'%>
    </div>
    <div class="row scopes">
      <div class="small-12 column">
        <%= scope :all, "Todos" %>
        <%= render partial: "admin/survey_results/search_form", layout: "layouts/search_form" %>
      </div>
    </div>
  </div>

  <div id="modal-grafico" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Graficos de Resultados</h2>
    <canvas id="canvas" width="300" height="300"></canvas>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Tipo de Usuario</th>
        <th>Docente</th>
        <th>Grupo</th>
        <th>Nivel</th>
        <th>Intervalo</th>
        <th>Asignatura</th>
        <th>Pregunta</th>
        <th>Respuesta</th>
      </tr>
    </thead>

    <tbody>
      <% @survey_results.each do |survey_result| %>
        <tr>
          <td><%= survey_result.user_survey.user_type.display_name %></td>
          <td><%= survey_result.user_survey.try(:docente).try(:display_name) || '' %></td>
          <td><%= survey_result.user_survey.try(:group).try(:display_name) %></td>
          <td><%= survey_result.user_survey.try(:level).try(:display_name) %></td>
          <td><%= survey_result.user_survey.try(:interval).try(:display_name) %></td>
          <td><%= survey_result.user_survey.try(:subject).try(:display_name) %></td>
          <td><%= survey_result.question.display_name %></td>
          <td><%= survey_result.try(:answer).try(:display_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="small-12 column">
      <%= paginate @survey_results %>
      <%= page_entries_info  @survey_results %>
    </div>
  </div>

</div>
<%= javascript_include_tag    'admin/survey_results'%>
