<div class="small-12 column">
  <div class="full-with">
    <div class="small-8 column">
      <h1>Usuarios</h1>
    </div>
    <div class="small-4 column">
      <button type="button" name="button" id="import" class="button">Importar</button>
    </div>
    <div class="row scopes">
      <div class="small-12 column">
        <%= scope :all, "Todos" %>
        <%#= render partial: "admin/survey_comments/search_form", layout: "layouts/search_form" %>
      </div>
    </div>
  </div>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th class="action_column"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.codigo %></td>
          <td><%= user.nombre %></td>
          <td class="action_column">
            <div class="action_links">
              <%= link_to "", admin_user_path(user), class: "fa fa-search view_link" %>
              <%= link_to "", edit_admin_user_path(user), class: "fa fa-pencil edit_link" %>
              <%= link_to "", admin_user_path(user), class: "fa fa-trash delete_link", confirm: "¿Está seguro de que quiere eliminar esto?", method: :delete %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'Crear Usuario', new_admin_user_path, class: 'button' %>
  <%= javascript_include_tag  'admin/user'%>
</div>
