<%
  action = params["action"]
  page_name ||= params["controller"]
  body_class = "#{action} #{page_name}"
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SEI" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

<% if admin_user_signed_in? %>
 <body class="<%=body_class%>">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      </nav>

      <aside class="left-off-canvas-menu">
        <%#= render "layouts/menu_bar" %>
      </aside>

      <section class="main-section">
        <div class="small-12 columns page_container">
          <div class="row column full-width">
            <%= yield %>
          </div>
        </div>
      </section>

    <a class="exit-off-canvas"></a>
    </div>
  </div>
</body>
<% else %>
 <%= yield %>
<% end %>
</html>
