<%
  action = params["action"]
  page_name ||= params["controller"]
  body_class = "#{action} #{page_name}"
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SEI" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

<% if user_signed_in? %>
 <body class="<%=body_class%>">
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <div class="row">
     <div class="small-12 columns page_container">
       <div class="row column full-width">
         <%= yield %>
       </div>
     </div>
   </div>
</body>
<% else %>
 <%= yield %>
<% end %>
</html>
